SECRET_KEY=change-this-secret
JWT_SECRET_KEY=change-this-jwt-secret
HOST=127.0.0.1
PORT=5000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=shulebora_db
FRONTEND_URL=http://localhost:5173
UPLOAD_FOLDER=uploads
